/*! flug.css v1.0.0 |  9web.vn 
    Author: Cuongtv
    Date: T11/2015
    Description: flug-in css file include
    Url: http://9web.vn
*/
/* =bx-sliders
-----------------------------------------------------------------------------*/
.bx-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    *zoom: 1;
    z-index: 1;
}

    .bx-wrapper img {
        max-width: 100%;
        display: block;
        width: 100%;
    }

    .bx-wrapper .bx-viewport {
        background: #fff;
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
    }

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .bx-wrapper .bx-loading {
        min-height: 50px;
        background: url(images/bx_loader.gif) center center no-repeat #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-family: Arial;
        font-weight: 700;
        color: #666;
    }

        .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
            display: inline-block;
            *zoom: 1;
            *display: inline;
        }

        .bx-wrapper .bx-pager.bx-default-pager a {
            background: #666;
            text-indent: -9999px;
            display: block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            outline: 0;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

            .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
                background: #000;
            }

    .bx-wrapper .bx-prev {
        left: -40px;
        background: url(images/controls.png) no-repeat 0 -32px;
    }

        .bx-wrapper .bx-prev:hover {
            background-position: 0 0;
            -webkit-transition: all .35s ease;
            -o-transition: all .35s ease;
            transition: all .35s ease;
        }

    .bx-wrapper .bx-next {
        right: -40px;
        background: url(images/controls.png) no-repeat -43px -32px;
    }

        .bx-wrapper .bx-next:hover {
            background-position: -43px 0;
            -webkit-transition: all .35s ease;
            -o-transition: all .35s ease;
            transition: all .35s ease;
        }

    .bx-wrapper .bx-prev, .bx-wrapper .bx-next {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 10;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }

    .bx-wrapper:hover .bx-prev {
        left: 10px;
    }

    .bx-wrapper:hover .bx-next {
        right: 10px;
    }

    .bx-wrapper .bx-controls-direction a.disabled {
        display: none;
    }

    .bx-wrapper .bx-controls-auto {
        text-align: center;
    }

        .bx-wrapper .bx-controls-auto .bx-start {
            display: block;
            text-indent: -9999px;
            width: 10px;
            height: 11px;
            outline: 0;
            background: url(images/controls.png) -86px -11px no-repeat;
            margin: 0 3px;
        }

            .bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
                background-position: -86px 0;
            }

        .bx-wrapper .bx-controls-auto .bx-stop {
            display: block;
            text-indent: -9999px;
            width: 9px;
            height: 11px;
            outline: 0;
            background: url(images/controls.png) -86px -44px no-repeat;
            margin: 0 3px;
        }

            .bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
                background-position: -86px -33px;
            }

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        text-align: left;
        width: 80%;
    }

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
        right: 0;
        width: 35px;
    }

    .bx-wrapper .bx-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #666\9;
        background: rgba(80,80,80,0.75);
        width: 100%;
    }

        .bx-wrapper .bx-caption span {
            color: #fff;
            font-family: Arial;
            display: block;
            font-size: .85em;
            padding: 10px;
        }

/* =owl-carousel
-----------------------------------------------------------------------------*/
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

    .owl-carousel .owl-wrapper {
        display: none;
        position: relative;
        -webkit-transform: translate3d(0px,0px,0px);
    }

    .owl-carousel .owl-wrapper-outer {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

        .owl-carousel .owl-wrapper-outer.autoHeight {
            -webkit-transition: height 500ms ease-in-out;
            -moz-transition: height 500ms ease-in-out;
            -ms-transition: height 500ms ease-in-out;
            -o-transition: height 500ms ease-in-out;
            transition: height 500ms ease-in-out;
        }

    .owl-carousel .owl-item {
        float: left;
    }

.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-pagination {
    display: none;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    top: 35%;
    text-indent: -99999px;
    width: 100%;
}

    .owl-controls .owl-buttons {
        display: block;
        position: relative;
    }

        .owl-controls .owl-buttons div.owl-prev { /* left arrow */
            width: 38px; /* width background image */
            height: 57px;
            background: transparent url(images/pre.png) no-repeat 0 0;
            position: absolute;
            left: -10px;
        }

        .owl-controls .owl-buttons div.owl-next { /* right arrow */
            width: 38px; /* width background image */
            height: 57px;
            position: absolute;
            right: -10px;
            left: auto;
            background: transparent url(images/next.png) no-repeat 0 0;
        }

.grabbing {
    cursor: url(grabbing.png) 8 8,move;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}