/*! GLOBAL.css v1.0.0 |  9web.vn 
    Author: CuongTV
    Date: T12/2015
    Description: Style for web developer with BOOTSTRAP v3.x CSS
    Url: http://9web.vn
--*/
/* =Typography
-----------------------------------------------------------------------------*/
body {
    font-family: "Roboto Condensed", sans-serif;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: #291477;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

[class*="icon-"] {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

.clear {
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
}

.no_padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no_left {
    padding-left: 0 !important;
}

.no_right {
    padding-right: 0 !important;
}

.extranews_separator {
    clear: both;
    background: transparent url(images/separator.png) no-repeat 50%;
    display: block;
    height: 14px;
    margin: 20px 0;
}

header, header.bgr_body, .bgr_body {
    background: rgba(0, 0, 0, 0) url(images/bgr-body.gif) repeat scroll 0 0;
}

.bgr_content {
    background-color: white;
    overflow: hidden;
}
/* =[Header style]
-----------------------------------------------------------------------------*/
header {
    position: relative;
    text-align: center;
}

#header {
    position: relative;
    background-color: #c7d5d8;
}


.header-contact-info {
    position: relative;
    margin-top: 25px;
    float: right;
}

.search-form {
    position: relative;
    margin: 30px 38px 0px 0px;
    float: right;
}
.search-form > input, button {
    height: 40px;
}
.search-form > button {
    height: 40px;
    width: 40px;
}

#search {
    width: 200px;
    right: 40px;
    position: absolute;
}
#search:focus {
    width: 400px;
    position: absolute;
    left: -400px;
}

.header-contact-info .icon-phone {
    position: absolute;
    height: 54px;
    width: 54px;
    padding: 3px;
    background-color: #3e4087;
    top: -2px;
    left: -5px;
    z-index: 3;
    border-radius: 100%;
}

.header-contact-info .icon-phone .fa {
    font-size: 30px;
    color: #fff;
    width: 49px;
    height: 49px;
    background: #ec7f1d;
    border-radius: 100%;
    text-align: center;
    line-height: 49px;
}

.header-contact-info .contact-info {
    border: 2px solid #3e4087;
    border-radius: 15px;
    height: 49px;
    padding: 6px 20px 4px 85px;
    overflow: hidden;
    position: relative;
}

.header-contact-info .contact-info:before {
    content: "";
    position: absolute;
    display: block;
    height: 47px;
    width: 47px;
    border-radius: 100%;
    background: #fefb9c;
    top: -7px;
    left: -9px;
    z-index: 2;
}

.header-contact-info .contact-info > span {
    display: block;
    color: #309bf9;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    line-height: 16px;
}

.contact-info > strong {
    color: #702a2a;
    font-size: 18px;
}
/*- [topbar style] */
#topbar {
    background: #ededed;
    height: 30px;
}

#topbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#topbar ul li {
    display: inline;
    line-height: 30px;
    margin: 0;
    padding: 0 0 0 15px;
    color: #3e4087;
    font-size: 13px;
}

#topbar ul li a {
    color: #3e4087;
    font-size: 13px;
}

#topbar ul li .fa {
    padding-right: 5px;
}

/*- [topnav style] */
.topnav {
    position: relative;
}

.topnav {
    list-style: none;
    margin: 25px 0 0;
    padding: 0;
    text-align: right;
}

.topnav li {
    display: inline;
    line-height: 30px;
    margin: 0;
    padding: 0 0 0 15px;
    color: #3e4087;
    font-size: 16px;
}

.topnav li a {
    color: #3e4087;
    font-size: 16px;
}

.topnav li .fa {
    padding-right: 5px;
}

/*- [Logo] */
#logo {
    position: relative;
}

#logo .logo_brand {
    display: block;
    padding: 10px 0 15px;
    font-size: 18px;
    line-height: 20px;
}

#logo .logo_brand img {
    height: auto;
}


.overlap {
    background-image: none, -moz-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
    background-color: transparent;
    background-repeat: repeat;
    background-position: center top;
    border-bottom: none;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(5,38,57,0.05);
    -moz-box-shadow: 0px 1px 0px 0px rgba(5,38,57,0.05);
    box-shadow: 0px 1px 0px 0px rgba(5,38,57,0.05);
}

.caret {
    margin-left: 5px;
}
/* =[Navigator style]
-----------------------------------------------------------------------------*/

.dropdown-menu {
    background: #3e4087;
}

.dropdown-menu > li > a {
    color: #f4f4f4;
}

.navbar {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    background-color: #3e4087;
    transition: background 0.3s ease 0s;
    opacity: 1;
    width: 100%;
    border: none;
    z-index: 2;
    margin-bottom: 0;
    text-align: center;
    min-height: 46px;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: #2a2a2a;
}

.navbar-default .navbar-nav > .active > a > .fa {
    color: #fff;
    padding: 0 6px;
    font-size: 18px;
}

.navbar-default1 .navbar-nav > li:first-child {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.navbar-default .navbar-nav > li {
    padding: 0;
    margin: 0;
    color: #fff;
}

.navbar-default .navbar-nav > li:last-child {
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
    font-size: 13px;
    padding: 0 20px;
    color: #fff;
    line-height: 46px;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
    font-weight: 400;
}

.navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background: #ec7f1d;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    transition: all 0.3s linear 0s;
}

.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

.navbar-nav {
    float: none;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

.line_nav {
    font-size: 15px;
    line-height: 46px;
}


/* =Search
-----------------------------------------------------------------------------*/
#search-input {
    margin-top: 10px;
    padding: 0 0 0 10px;
}

/* =Banners
-----------------------------------------------------------------------------*/
#banner {
    position: relative;
}

#banner .bgr_banner {
    overflow: hidden;
    padding: 35px 0;
    background-color: #e9ebee;
}

#scrollPage {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 34px;
    height: 66px;
    cursor: pointer;
    z-index: 9998;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-name: anim-subnav;
    animation-name: anim-subnav;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.bx-wrapper, .bx-window, #bxslider {
    overflow: hidden !important;
}

.bx-wrapper .bx-viewport {
    background: transparent;
}

#bxslider .col-md-5, #bxslider .col-md-7 {
    padding: 0;
}

.bx-controls-direction {
    display: none;
}

.bx-wrapper .bx-pager {
    width: 28%;
    margin: 0 auto;
}

.bxs {
    padding-left: -15px;
    padding-right: -15px;
}

.bxs h2 {
    color: #2a256d;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
    padding: 3% 25px 0;
}



.bxs p {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    color: #fd6306;
    font-size: 15px;
    line-height: 28px;
    padding: 0 15px 25px;
    text-align: justify;
}

.bxs img.quote {
    position: relative;
    display: inline;
    width: 24px !important;
    top: -8px;
}

.bx-controls {
    position: relative;
    bottom: 0px;
}

.left {
    padding-right: 5px;
}

.right {
    padding-left: 5px;
}
/* =[Main Contents]
-----------------------------------------------------------------------------*/
/*-- Main --*/
#main {
    position: relative;
    padding: 0 0 30px;
}

#col_complementary {
    margin-top: 20px;
    z-index: 1;
}

article h3 {
    font-size: 16px;
    margin: 10px 0 0;
    padding: 0;
}
/*-- Block --*/
.block_top {
    position: relative;
    background: #f1f1f1 none repeat center center;
    padding: 30px 0 15px;
}

.block_top h1 {
    margin: 0 0 15px;
    padding: 0;
    color: #3e4087;
    font-size: 22px;
    text-transform: uppercase;
}

.block_top h3 {
    margin: 15px 0 10px;
    padding: 0;
    color: #333;
    font-size: 22px;
}

.block_top h3 a {
    color: #333;
}

.block_top p.brief {
    font-size: 13px;
    font-family: Arial;
    margin: 0 0 10px;
    padding: 0;
    line-height: 22px;
    text-align: justify;
    color: #666;
}

.block_top article {
    border: solid 1px #f1f1f1;
    padding: 9px;
}

.block_top article:hover {
    border: solid 1px #aaa;
    border-radius: 0 0 9px 9px;
}

.block_top article:hover h3 a {
    color: #03933c;
}

.block_top .view_more {
    text-align: right;
    font-size: 12px;
}

.block_top .view_more a {
    font-style: italic;
    font-size: 12px;
    color: #333;
}

.block_top .view_more a .fa {
    font-size: 11px;
    padding-left: 5px;
}

.block_top a:hover {
    color: #03933c;
}

.block {
    position: relative;
}

.block .block_title {
    margin: 25px 0 15px;
    padding: 0;
    color: #3e4087;
    font-size: 22px;
    text-transform: uppercase;
}

.block .block_title a {
    color: #3e4087;
}

.block .block_title .fa {
    padding-right: 5px;
}

.block .block_title_fix {
    border-top: solid 1px #3f3e87;
    margin: 25px 0 15px;
    padding: 20px 0 20px;
    color: #393880;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    background: transparent url(images/separator.png) no-repeat 50% 100%;
    background: none;
    display: block;
}

.block .block_title_fix a {
    color: #ec7f1d;
    border-bottom: solid 1px #3e4087;
}

.block p.top_p {
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
}

.block.first {
    background: #f5f5f5;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #efefef, #d3d8e8) repeat scroll 0 0;
    padding: 20px 0;
}

.block .block_list {
    font-size: 14px;
    margin: 50px 0 20px;
}

.block .block_list img {
    height: 136px;
}

.block .block-center {
    text-align: center;
}

.block .article_title, .article_title {
    margin: 10px 0;
    padding: 0;
    color: #3e4087;
    font-size: 18px;
    text-transform: uppercase;
}

.block .article_title a, .article_title a {
    color: #3e4087;
}

.block.second .article_more {
    text-align: right;
}

.block.second .article_more a {
    color: #03933c;
    font-size: 12px;
    font-style: italic;
}

/*-- Section Service --*/
.block.second {
    text-align: left;
    width: 100%;
    background: #dededc;
    padding: 20px 0;
}

.block.second .article_title {
    margin: 10px 0;
    padding: 0;
    color: #03933c;
    font-size: 16px;
    text-transform: none;
}

.block.second .article_title a {
    color: #03933c;
}

.block.second .aricle_image img {
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}

.block.second p {
    margin: 15px 0 10px;
}

/*-- Section Products --*/
.block.third {
    position: relative;
    margin: 0;
    padding: 0 0 20px;
}

article.item {
    border: solid 1px #1dbcec;
    padding: 20px;
    border-radius: 0 0 9px 9px;
    -moz-border-radius: 0 0 9px 9px;
    -webkit-border-radius: 0 0 9px 9px;
}

article.item .aricle_image {
    min-height: 138px;
}

.block_grid article.item {
    padding: 10px;
}

.block_grid article.item .code {
    font-size: 15px;
    color: #3e4087;
}

.block_grid article.item .article_short {
    font-size: 14px;
    text-align: justify;
    min-height: 82px;
}

.block.third .article_title {
    margin: 20px 0 10px;
    padding: 0;
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
}

.block.third .article_title a {
    color: #3e4087;
}

.list_inline {
    list-style: none;
    margin: 15px 0 20px;
    padding: 0;
}

.list_inline li {
    margin: 0;
    padding: 0 0 5px;
}

.list_inline li a {
    color: #333;
    font-size: 14px;
}

.block.third .article_more {
    text-align: right;
}

.block.third .article_more .btn, .article_more .btn {
    background: #3e4087 none repeat scroll 0% 0%;
    background: none;
    padding: 3px 10px 3px 10px;
    display: inline-block;
    color: #3e4087;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

.block.third .article_more .btn .fa, .article_more .btn .fa {
    font-size: 11px;
}

/*-- Section News --*/
.block.fourth {
    position: relative;
    background: #efefef;
    padding: 20px 0;
}

.block.fourth .article_title {
    margin: 10px 0 5px;
    padding: 0;
    color: #03933c;
    font-size: 20px;
    text-transform: none;
    min-height: 38px;
}

.block.fourth .article_title a {
    color: #03933c;
}

.block.fourth p.article_short {
    margin: 15px 0 0;
}

.block.fourth .article_more {
    text-align: right;
}

.block.fourth .article_more a {
    color: #03933c;
    font-size: 12px;
    font-style: italic;
}

.main-field {
    background: #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.main-field:hover {
    border-color: #ec7f1d;
    box-shadow: 0px 0px 10px #ec7f1d;
}

.time_index {
    background: transparent url(images/icon_clock.png) no-repeat scroll left center;
    color: #666;
    display: block;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 3px;
    padding-left: 20px;
}

.item_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item_list li {
    margin: 0;
    padding: 0 0 15px;
}

.item_list li a {
    font-size: 15px;
    color: #333;
}


.widget {
    padding: 15px 15px 10px;
    margin-bottom: 15px;
    background-color: rgba(51, 46, 46, 0.12);
    border-radius: 0 0 9px 9px;
}

.widget .widget_title {
    color: #03933c;
    font-size: 20px;
}

.widget .widget_title.w_border {
    text-align: right;
    color: #3e4087;
    text-transform: uppercase;
}

.widget .widget_title.w_bgr {
    background-color: #a5a5a5;
    margin-bottom: 2px;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.widget.support {
    background: #f0f0f0 url(images/support.png) no-repeat scroll left bottom;
    text-align: right;
}

.widget_box {
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(14, 70, 140, 0.16);
    border-radius: 0 0 9px 9px;
}

.widget_box .widget_box_title {
    background-color: #3e4087;
    margin: 0 0 5px;
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.widget_box .widget_box_title a {
    color: #fff;
}

.support ul {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
}

.support ul li {
    margin: 0;
    padding: 0 0 8px;
}

.support ul li span {
    font-size: 15px;
    color: #333;
    padding-right: 10px;
}

ul.widget_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.widget_list li {
    border-bottom: 1px solid rgba(137, 66, 66, 0.53);
    font-size: 13px;
    overflow: hidden;
    margin: 0px 0px 5px;
    padding: 10px 0;
}

ul.widget_list li:last-child {
    border-bottom: none;
}

ul.widget_list li .number {
    padding-right: 10px;
    line-height: 20px;
    margin-top: 1px;
    font-size: 20px;
    font-weight: bold;
    width: 20px;
    float: left;
    text-align: right;
}

ul.widget_list li a {
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    display: block;
    color: #333;
}

.cate_list {
    margin: 10px 0 0;
    padding: 0 0 0 15px;
    list-style-position: inside;
}

.cate_list li {
    list-style-type: square;
    margin-bottom: 8px;
    padding-bottom: 4px;
    color: #3e4087;
    border-bottom: 1px solid rgba(137, 66, 66, 0.53);
}

.cate_list li:last-child {
    border-bottom: none;
}

.cate_list li h2 {
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 18px;
}

.cate_list li a {
    font-size: 15px;
    line-height: 18px;
    color: #3e4087;
}

.cate_list li a:hover {
    color: #ec7f1d;
}

/*-- Section Ads --*/
section#block_ads {
    position: relative;
    padding: 25px 0;
}

article .ads_tit {
    color: #555;
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px 0 10px;
    padding: 0;
}

article .ads_title a {
    color: #3e4087;
}

article .ads_title a:hover {
    color: #ec7f1d;
}

article .ads_brief {
    color: #111;
    font-size: 15px;
    margin: 10px 0;
    padding: 0;
    line-height: 24px;
    text-align: justify;
}

article .ads_more {
    font-size: 13px;
    display: block;
    text-align: right;
    font-style: italic;
}

article .ads_more .fa {
    padding-left: 5px;
    font-size: 12px;
}
/*-- Section Contact --*/
.block.fifth {
    position: relative;
    background: #ea563c url(images/bgr-contact.png) no-repeat scroll 50% 50%;
    text-align: center;
}

section#contact h4 {
    color: #fff;
}

section#contact ul {
    clear: both;
    display: inline-block;
    margin: 40px 0%;
    padding: 0;
    width: 76%;
}

section#contact ul li {
    list-style: outside none none;
}

section#contact ul li .fa {
    font-size: 46px;
    float: left;
    color: #fff;
}

section#contact ul li .touch {
    float: left;
    position: relative;
    font-size: 22px;
    color: #fff;
    padding-left: 20px;
}

section#contact ul li .touch span {
    display: block;
    text-transform: uppercase;
    color: #fff;
}

section#contact ul li .touch a {
    display: block;
    color: #1b2960;
}

/*-- Section Social --*/
.block.sixth {
    padding: 0;
    border-top: solid 2px #3e4087;
}

section#socials {
    position: relative;
    padding: 10px 0 20px;
    background: #3a93b2 url(images/mountains_light_@2x.png) no-repeat scroll 0 100% / contain;
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    background: #fff;
    border-color: -moz-use-text-color -moz-use-text-color rgb(90, 90, 90);
    font-size: 16px;
}

.headline {
    border-bottom: 1px dashed #aaa;
    display: block;
    margin: 20px 0 25px;
}

.headline .title-link {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #3e4087;
    font-size: 24px;
    text-shadow: none;
}

.headline .title-link a {
    font-size: 24px;
    color: #3e4087;
}

section#socials p {
    color: #555;
}


.btn-u {
    background: #3498db none repeat scroll 0 0;
    border: 0 none;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 6px 13px;
    position: relative;
    text-decoration: none !important;
}


section#socials ul {
    list-style: none;
    text-align: center;
}

section#socials ul li {
    list-style: none;
    display: inline;
    padding: 15px 10px;
}

section#socials ul li .fa {
    font-size: 30px;
    color: #888;
}

/*-- Section Social --*/
.block.seventh {
    padding: 0;
    border-top: solid 2px #ec7f1d;
}

/*-- Block scroll --*/

.scroller {
    position: relative;
    width: 100%;
}

.scroller .owl-row {
    margin-right: -15px;
    margin-left: -15px;
}

.scroller .owl-row .owl-item {
    padding-left: 15px;
    padding-right: 15px;
}

.in_page {
    position: relative;
    border-top: solid 1px #aeaeae;
    padding-top: 15px;
}

.in_page .item {
    position: relative;
    min-height: 254px;
    background: #efefef;
    padding: 10px;
    margin-bottom: 20px;
}

.in_page .item a.in_page_title {
    color: #666;
    font-size: 16px;
    display: block;
    margin: 10px 0;
}

.in_page_v2 {
    position: relative;
    border-top: solid 1px #ec7f1d;
    padding-top: 15px;
}

.in_page_v2 .item {
    position: relative;
    background: transparent;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #1dbcec;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    min-height: 162px;
}

.in_page_v2 .item a.title_center {
    color: #3e4087;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    display: block;
    margin: 0;
}

.in_page_v2 .in_page_title_v2 {
    margin: 5px 0 10px;
}

.no_border {
    border-top: none;
}


.block_grid {
    position: relative;
}

.block_grid .col-md-4 {
    min-height: inherit;
}

.block_grid .item {
    margin-bottom: 25px;
}

.block_grid h4.article_title {
    min-height: 32px;
}

.list_view {
    position: relative;
}

.list_view .list_view_title {
    margin: 0 0 10px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: #3e4087;
}

.list_view ul {
    margin: 0 0 15px;
}

.list_view ul li {
    padding: 0 0 10px;
}

.list_view ul li h3 {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.list_view ul li a {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}


.block_a {
    position: relative;
}

.block_a a {
    display: block;
    border-bottom: 1px solid rgba(137, 66, 66, 0.53);
}

.block_a a:last-child {
    display: block;
    border-bottom: none;
}
/* =[Footer style]
-----------------------------------------------------------------------------*/
#footer {
    position: relative;
    background-color: #e9ebee;
    overflow: hidden;
}

.footer {
    background: #3e4087 none repeat scroll 0 0;
    background: none;
    border-top: solid 2px #3e4087;
    color: #333;
    padding: 20px 0 0;
    width: 100%;
}


.footer .title::after {
    background: #efefef none repeat scroll 0 0;
    bottom: -1px;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 0;
}

.footer .title {
    border-bottom: 1px solid #efefef;
    border-bottom: none;
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0 15px;
    padding: 0 0 10px;
    position: relative;
}

.footer .title a {
    color: #333;
    font-size: 18px;
}

.footer .row .title:after {
    width: 0;
    height: 1px;
    background: #aaa;
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "  ";
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.footer .row .col:hover .title:after {
    width: 100%;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    margin: 0;
    font-size: 14px;
    padding: 3px 0 3px 3px;
}

.footer ul li:hover {
    background: #eee;
    color: #666;
}

.footer ul li:hover a {
    color: #666;
}

.footer ul li a {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    padding-left: 3px;
}

.footer ul li .fa {
    font-size: 10px;
}

.footer ul.list-block li {
    padding-bottom: 10px;
}

.footer ul.list-block li .fa {
    font-size: 16px;
    margin-right: 6px;
}

/*-- Bottom Bar --*/
.bottomBar {
    background: #3e4087 none repeat scroll 0 0;
    color: #f6f6f6;
    margin: 20px 0 0;
    padding: 10px 0;
    font-size: 12px;
}

.bottomBar p {
    float: left;
    font-size: 12px;
    margin: 0;
    width: 50%;
}

.bottomBar a {
    color: #f6f6f6;
    font-size: 12px;
}


.panel-default {
    border: solid 1px #ec7f1d;
    background: transparent;
    margin-bottom: 15px;
}

.panel-group .panel-heading {
    background: transparent;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
/* =Pagination
-----------------------------------------------------------------------------*/

/* =Forms
-----------------------------------------------------------------------------*/

/* =Button
-----------------------------------------------------------------------------*/


/* =Media Queries Bootstrap 3 - Mobi first
-----------------------------------------------------------------------------*/
/* Extra Small Devices, Phones */
@media (max-width:767px) {

    .bxs_mobile {
        display: block;
    }

    .bxs_device {
        display: none;
    }

    .bx-wrapper .bx-pager {
        width: 100%;
    }

    #header .col-xs-12, #header .col-sm-12 {
        float: none;
        text-align: center;
    }

    #logo {
        width: 100%;
        margin: 5px auto;
    }

    #logo .img-responsive {
        display: inline;
    }

    .topnav {
        text-align: center;
        margin: 0;
    }

    .topnav li {
        color: #3e4087;
        display: inline;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        padding: 0 0 0 5px;
    }

    .topnav li .fa {
        display: inline;
    }

    .topnav li a {
        font-size: 14px;
    }

    .header-contact-info {
        position: absolute;
        bottom: -40px;
        left: 3px;
        z-index: 9999;
        display: none;
    }

    .header-contact-info .icon-phone {
        height: 34px;
        width: 34px;
        padding: 3px;
    }

    .header-contact-info .icon-phone .fa {
        font-size: 20px;
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .header-contact-info .contact-info {
        height: 30px;
        border: 1px solid #ec7f1d; /* 3e4087 */
        padding: 3px 20px 4px 35px;
    }
    .search-form {
        position: absolute;
        bottom: -38px;
        left: 2px;
        top: -20px;
        z-index: 9999;
    }

    #search:focus {
        width: 300px;
        position: absolute;
        left: 40px;
    }
    #search {
        position: absolute;
        left: 40px;
    }

    .header-contact-info .contact-info:before {
        height: 30px;
        width: 30px;
    }

    .header-contact-info .contact-info > span {
        font-size: 13px;
        line-height: 16px;
        display: inline-block;
        padding-right: 3px;
    }

    .contact-info > strong {
        font-size: 15px;
        color: #fff;
    }

    .navbar-brand {
        float: left;
        font-size: 18px;
        padding: 10px 0 10px 15px;
    }

    .navbar-brand img {
        height: 36px;
    }

    .navbar-collapse {
        background: #fff;
        opacity: 1;
    }

    .navbar-default .navbar-nav > li {
        padding: 0 15px 15px;
        display: block;
        text-align: left;
    }

    .navbar-default .navbar-nav > li:last-child {
        padding: 0 15px 15px;
    }

    .navbar-default .navbar-nav > li > a {
        color: #000;
        font-size: 13px;
        height: 24px;
        line-height: 24px;
        text-transform: uppercase;
    }

    article .ads_more {
        margin-bottom: 20px;
    }

    section#contact ul {
        width: 100%;
    }

    section#contact ul li {
        margin-bottom: 25px;
    }

    section#contact ul li:last-child {
        margin-bottom: 25px;
    }

    section#contact ul li .touch {
        font-size: 16px;
        float: none;
    }

    .bottomBar .pull-right {
        float: none;
        margin: 10px auto;
        width: 100%;
    }

    .bxs .col-md-4, .bxs .col-md-8 {
        padding-left: -15px;
        padding-right: -15px;
    }
}

/* Small Devices, Tablets */
@media (min-width:768px) {
    .bxs_mobile {
        display: block;
    }

    .bxs_device {
        display: none;
    }

    .bx-wrapper .bx-pager {
        width: 100%;
    }

    .navbar-default .navbar-nav > li {
        padding: 0;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 0 6px;
        font-size: 11px;
    }

    .navbar-brand {
        padding: 10px 0 0;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 13px;
    }

    .navbar-brand img {
        height: 55px;
    }
}

/* Medium Devices, Desktops */
@media (min-width:992px) {
    .bxs_mobile {
        display: none;
    }

    .bxs_device {
        display: block;
    }

    .bx-wrapper .bx-pager {
        width: 28%;
    }

    .navbar-default .navbar-nav > li {
        padding: 0 15px 0;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 13px;
        padding: 0 5px 0;
    }
}

/* Large Devices, Wide Screens */
@media (min-width:1200px) {
    .bxs_mobile {
        display: none;
    }

    .bxs_device {
        display: block;
    }

    .navbar-default .navbar-nav > li {
        padding: 0 6px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
        padding: 0 10px 0;
    }

    .navbar-brand img {
        height: 94px;
    }
}


@-webkit-keyframes anim-subnav {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: 1;
    }

    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        opacity: .4;
    }

    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: 1;
    }
}

@keyframes anim-subnav {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: 1;
    }

    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        opacity: .4;
    }

    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: 1;
    }
}

/*************************
******* Home ******
**************************/


.carousel-indicators li {
    background: #C4C4BE;
}

.carousel-indicators li.active {
    background: #FE980F;
}

.item {
    padding-left: 100px;
}

.item button:hover {
    background: #ff500b;
}

.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}

.control-carousel:hover {
    color: #FE980F;
}

.right {
    right: 0;
}



#similar-product .carousel-inner .item {
    padding-left: 0;
}

#similar-product .carousel-inner .item img {
    display: inline-block;
    margin-left: 15px;
}

.item-control {
    position: absolute;
    top: 35%;
}

.item-control i {
    background: #ff500b;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
}

.item-control i:hover {
    background: #ccccc6;
}
#similar-product .carousel-inner .item img {
    margin-left: 18px;
}

.view-product {
    /*margin-right: 15px;*/
}

.view-more {
    width: 160px;
    height: 165px;
    background: #ddd;
    display: table-cell;
    color: #999;
    vertical-align: middle;
    font-size: 18px;
    border: solid 2px #ddd;
}

.view-more:hover,
.view-more:focus {
    color: #999;
    border: solid 2px #FE980F;
}

.logo-image {
    background: url('../images/logo.png') no-repeat 0 0;
    width: 140px;
    height: 28px;
    margin: 6px 0 0 0;
}

.logo-text {
    width: 0;
    height: 0;
    overflow: hidden;
}

.shop-menu ul li a {
    background: #FFFFFF;
    /*color: #696763;*/
    color: #333;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    /*margin-top: 15px;*/
}

#similar-product .carousel-inner .item img {
    width: 84px;
    height: 84px;
}

.thumb.medium {
    width: 165px;
    height: 165px;
}

.thumb.small {
    width: 65px;
    height: 65px;
}

.product-details .images {
    width: 330px;
    margin-right: 15px;
}

.product-details .info {
    width: 795px;
}

ul.viewed-items {
    padding: 0;
}

ul.viewed-items > li {
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
    display: table;
    clear: both;
}

ul.viewed-items > li > a > img.thumb.medium {
    width: 80px;
    height: 80px;
    float: left;
}

ul.viewed-items > li > a > h4 {
    float: left;
    width: 175px;
    font-size: 14px;
    margin: 0 0 0 5px;
}

ul.viewed-items > li:hover {
    cursor: pointer;
}

ul.viewed-items > li:hover img.thumb.medium {
    border: solid 2px #FEAF46;
}

ul.viewed-items > li:hover h4 {
    color: #FEAF46;
}
.product-details {
    overflow: hidden;
}

#similar-product {
    margin-top: 15px;
}
.recommended_items {
    overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}

.recommended-item-control {
    position: absolute;
    top: 41%;
}

.recommended-item-control i {
    background: none repeat scroll 0 0 #3b5998;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;
}

.recommended-item-control i:hover {
    background: #ccccc6;
}

.recommended_items h2 {
}



#fb-chat {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    height: auto;
    background: transparent;
    z-index: 9999;
}

#fb-chat .fb-chat-header {
    background: #3b5998;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

#fb-chat .fb-chat-box {
    display: none;
}
