/*! master.css v1.0.0 |  9web.vn 

    Author: Cuongtv
    Date: T04/2015
    Description: Style for web developer with BOOTSTRAP css
    Url: http://9web.vn
*/
/* =Typography
-----------------------------------------------------------------------------*/
/* page style */
.page {
    position: relative;
}

    .page .page_title {
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        margin: 5px 0 15px;
        padding: 2px 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 300;
    }

        .page .page_title a {
            color: #03933c;
            font-size: 22px;
            text-decoration: none;
        }

    .page .page_content {
        padding: 0;
    }
/* block  */
.block {
    margin: 20px 0 0;
}

.grid_title {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    margin: 5px 0 15px;
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

    .grid_title a {
        color: #03933c;
        font-size: 20px;
        text-decoration: none;
    }
/* box  */
.box {
    border: solid 1px #ddd;
    padding: 15px 15px 10px;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
}

    .box .box_title {
        margin: 0 0 5px;
        padding: 0;
        font-size: 18px;
        text-transform: uppercase;
    }

        .box .box_title a {
            color: #222;
            font-size: 18px;
            text-decoration: none;
        }

    .box article h3 {
        color: #005C9F;
        margin: 0;
        padding: 0;
    }

        .box article h3 a {
            color: #005C9F;
        }

            .box article h3 a:hover {
                color: #873e3e;
            }

    .box ul {
        margin: 20px 0 0;
        padding: 0;
    }

        .box ul li {
            list-style-type: square;
            margin-bottom: 6px;
            padding: 0;
            display: block;
            clear: both;
        }

        .box ul a {
            font-size: 14px;
            color: #555;
        }

            .box ul a:hover {
                font-size: 14px;
                color: #005C9F;
            }
/* list item view inline page  */
.inline_page {
    position: relative;
}

    .inline_page h2 {
        font-weight: normal;
        margin: 0 0 5px;
        padding: 0 0 5px;
        color: #005C9F;
        line-height: 16px;
    }

        .inline_page h2 a {
            font-size: 22px;
            line-height: 24px;
            color: #333;
        }

    .inline_page .time_index {
        margin: 0 0 10px;
        font-size: 11px;
        color: #aeaeae;
    }

    .inline_page ul {
        margin: 20px 0;
        padding: 0;
        list-style-position: inside;
    }

        .inline_page ul li {
            margin: 0;
            background: transparent;
            padding: 0 0 0.5em 0;
        }

            .inline_page ul li a {
                font-size: 15px;
            }

/* Block list */
.block_list {
    position: relative;
}

.block_list {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

    .block_list li {
        margin: 0;
        padding: 0 0 25px 0;
    }

        .block_list li a {
            font-size: 22px;
            color: #000;
            display: block;
        }

    .block_list .time_index {
        margin: 15px 0 5px;
        font-size: 11px;
        color: #333;
    }

    .block_list p {
        font-size: 15px;
        color: #222;
    }
/* post area */
.post {
    position: relative;
    padding: 0;
    margin: 0 0 .65em;
}

/* title post */
.post-title {
    font-weight: normal;
    text-transform: none;
    text-shadow: none;
    border-left: 3px solid #ec7f1d;
    margin: 10px 0 15px;
    padding: 0 0 0 5px;
    color: #873e3e;
    font-size: 24px;
}

    .post-title a {
        color: #020f75;
    }

        .post-title a:hover {
            text-decoration: none;
            color: #603813;
        }

h3.post-sub-title {
    border-bottom: dashed 1px #ddd;
    padding: 0 0 .45em;
    color: #020f75;
    font: normal 16px/22px 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* content post */
.post cufon {
    height: 20px !important;
}

.post .post-content {
    color: #000;
    text-align: justify;
    font-size: 15px;
    line-height: 24px;
    margin: 1.2em 0;
    font-family: 'Roboto Condensed', sans-serif, Tahoma;
}

    .post .post-content h2, .post .post-content h3, .post .post-content h4 {
        font-size: 15px;
    }

    .post .post-content p {
        color: #000;
        text-align: justify;
        font-size: 15px;
        line-height: 24px;
        font-family: 'Roboto Condensed', sans-serif, Tahoma;
        padding: 3px 0;
        margin: 0 0 .3em !important;
    }

    .post .post-content b span {
        font: bold 15px/24px 'Roboto Condensed', sans-serif, Myriad Pro, Arial !important;
    }

    .post .post-content u {
        text-decoration: underline !important;
        font-family: 'Roboto Condensed', sans-serif, Tahoma;
    }

    .post .post-content i {
        font-style: italic !important;
        font-family: 'Roboto Condensed', sans-serif, Tahoma;
    }

    .post .post-content span {
        font: normal 15px/24px 'Roboto Condensed', sans-serif, Myriad Pro, Arial !important;
    }

    .post .post-content div, .post .post-content div font, .post .post-content p, .post .post-content font, .post .post-content p font, .post .post-content span, .post .post-content i {
        font-family: 'Roboto Condensed', Tahoma !important;
        font-size: 15px !important;
        line-height: 24px !important;
    }

    .post .post-content ul {
        margin: 0 0 1em;
        padding: 0;
        list-style: none;
    }

    .post .post-content li {
        margin: 0;
        padding: 0 0 0.3em 1.6em;
        background: url(images/icon/icon-green.png) no-repeat scroll 0 4px;
        background: transparent;
        padding: 0 0 0.3em .6em;
        font: normal 1em/1.2em 'Roboto Condensed', sans-serif, Myriad Pro, Arial;
    }

    .post .post-content p.notification {
        font-weight: 400 !important;
        color: #006138;
        font-size: 16px !important;
        margin: 0 0 20px;
    }

    .post .post-content table {
        margin: 0 0 1.5em 0 !important;
        border: solid 1px #555;
    }

.post img {
    max-width: 100% !important;
    height: auto !important;
}

.post .post-content table td {
    padding: 5px;
    border: solid 1px #555;
}
/* list post*/
.post-list {
    position: relative;
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
}

    .post-list li {
        margin: 0 0 1em;
        padding: 0;
        position: relative;
    }

.post-list-seperator {
    margin: 1em 0 0;
    padding: 0;
    border-bottom: solid 1px #eee;
}

/* post meta */
.post-meta {
    position: relative;
    margin-left: 9px;
}

.post-meta-margin {
    margin-left: 200px;
}

.post-meta-margin-home {
    margin-left: 106px;
}

.post-meta h2 {
    position: relative;
    font-size: 1.1em;
    margin: 0 0 .2em;
    font-weight: normal;
}

.post-meta a.post-view {
    display: block;
    color: #3a3a3a;
    font-size: 1.1em;
    font-weight: normal;
    text-decoration: none;
}

    .post-meta a.post-view:hover {
        color: #873e3e;
    }

.post-meta span.post-date {
    display: block;
    color: #6d6e71;
    font-size: 9px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: .2em;
}

.post-meta p {
    padding: 3px 0;
    margin: 0 0 .3em;
    color: #3a3a3a;
    text-align: justify;
    font-size: .9em;
}

.post-image img {
    padding: 0;
    max-width: 188px;
}

.post-meta .btn {
    padding: 0.3em 1em !important;
    color: #873e3e !important;
    float: right;
    background: transparent !important;
    font: italic .8em/1.2em 'Roboto Condensed', sans-serif, Myriad Pro, Arial;
}

.post-date {
    display: block !important;
    color: #333;
    font-size: .7em;
    font-style: italic;
    margin: .9em 0;
}

.addthis {
    display: block;
}

.in_page {
    position: relative;
}

    .in_page .table.table-bordered {
        border-color: #333;
    }

    .in_page h4 {
        font-size: 18px;
        color: #873e3e;
        text-transform: uppercase;
    }

    .in_page .inline_thumb img {
        height: 124px;
        max-height: 125px;
    }

.post_view_scroll {
    height: 280px;
    overflow-y: scroll;
    border: 1px dashed #B3B3B3;
    padding: 15px;
    border-radius: 6px;
}

#scollerPost::-webkit-scrollbar {
    width: 8px;
    background-color: #cccccc;
}

#scollerPost::-webkit-scrollbar-thumb {
    background-color: #B03C3F;
    border-radius: 10px;
}

    #scollerPost::-webkit-scrollbar-thumb:hover {
        background-color: #BF4649;
        border: 1px solid #333333;
    }

    #scollerPost::-webkit-scrollbar-thumb:active {
        background-color: #A6393D;
        border: 1px solid #333333;
    }

#scollerPost::-webkit-scrollbar-track {
    border: 1px gray solid;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px gray inset;
}
/* item relative posts */
.item-relative-hoz {
    position: relative;
    margin: 1em 0;
}

    .item-relative-hoz h4 {
        color: #fff;
        background: #873e3e;
        font-size: 1em;
        padding: 0;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        line-height: 30px;
    }

    .item-relative-hoz ul {
        list-style: none;
        margin: 0 0 2em;
        padding: 0;
    }

        .item-relative-hoz ul li {
            border-bottom: solid 1px #dedede;
            background: transparent url(images/brg-trans-temp.png) no-repeat scroll 0 15px;
            margin: 0;
            padding: .2em .8em;
        }

            .item-relative-hoz ul li a {
                color: #1f1a17;
                font-size: .9em;
                text-decoration: none;
            }

/* item relative posts hoz */
.block-toggle {
    position: relative;
    margin: 1em 0 0;
}

    .block-toggle ul {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
    }

        .block-toggle ul li {
            margin: 0 0 .6em;
            padding: .5em 0;
        }

.toggle-item {
    background: #f0f0f0;
    padding: .5em .8em;
}

.block-toggle ul li h3 {
    font-size: 1.1em;
    float: left;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.block-toggle ul li a {
    color: #4b4b4b;
    font-size: 1.1em;
    text-decoration: none;
}

    .block-toggle ul li a.expand {
        color: #873e3e;
        font-style: italic;
        font-size: .8em;
        cursor: pointer;
    }

        .block-toggle ul li a.expand img {
            padding-top: 3px;
        }
/* relative posts */
#post-relative {
    position: relative;
    margin: 3em 0 .65em;
}

    #post-relative h4 {
        color: #873e3e;
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        padding-bottom: .3em;
        border-bottom: dashed 1px #873e3e;
    }

    #post-relative ul {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
        list-style: inside;
    }

        #post-relative ul li {
            color: #000;
            padding: 0 0 .6em;
        }

            #post-relative ul li a {
                color: #000;
                font-size: 14px;
                text-decoration: none;
            }

            #post-relative ul li:hover {
            }

            #post-relative ul li a:hover {
                color: #873e3e;
            }
/*  faq list style*/
dl.nav-lst {
    list-style: none outside none;
    margin: 0 0 0 .8em;
    padding: 0;
}

    dl.nav-lst dt b {
        background: none repeat scroll 0 0 #fff;
        color: #363a3d;
        display: block;
        padding: 3px 2px;
    }

    dl.nav-lst dt, dl.nav-lst dd {
        display: block;
        list-style: none outside none;
        margin: 0;
        padding: 0 0 .8em;
        font-style: italic;
        font-size: .9em;
    }

.incr-faqs {
    font-weight: bold;
    font-size: 13px;
    color: #26292e;
    background: transparent;
    padding: .2em .3em;
    margin: 0 .3em 0 0;
}
/*  tag Option */
.tagContent {
    margin: 1.2em 0 0;
    position: relative;
    text-align: left;
    display: block !important;
}

.tag {
    height: 23px;
    position: absolute;
    vertical-align: middle;
    width: 40px;
}

.tagContent ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .tagContent ul li {
        padding: 0;
        margin: 0;
        display: inline;
    }

        .tagContent ul li a {
        }

.tag-pos {
    background-color: transparent;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.tag-text {
    color: #666;
    font-weight: normal;
    margin: 0 0 0 50px;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    text-align: justify;
}

    .tag-text a {
        color: #666;
        font-family: 'Roboto Condensed', sans-serif, Myriad Pro, Arial;
        font-size: 12px;
        text-decoration: none;
    }

.view-tag {
    position: relative;
    margin: 0 0 30px;
}

.folder-top-tag {
    background: url(images/icon/folder-top.gif) repeat-x scroll center top #FFFFFF;
    border-left: 1px solid #E3E3E4;
    margin-bottom: 0;
    padding: 10px 10px 5px;
}

.link-title {
    color: #666;
    font: bold 13px 'Roboto Condensed', sans-serif, Myriad Pro, Arial;
    text-decoration: none;
}
/* option view */
.option {
    margin: 24px 0 0;
    text-align: right;
    font-size: 11px !important;
    display: block !important;
}

    .option a:hover, .option a:visited {
        text-decoration: none;
        color: #666;
    }

.a-option {
    color: #666;
    text-decoration: none;
    font-size: 1.1em;
}

.icon-view {
    background: transparent url(images/icon/view.gif) no-repeat scroll 4px 50%;
}

.icon-home {
    background: transparent url(images/icon/icon-home.gif) no-repeat scroll 4px 50%;
}

.icon-back {
    background: transparent url(images/icon/back.gif) no-repeat scroll 4px 50%;
}

.icon-top {
    background: transparent url(images/icon/top.gif) no-repeat scroll 4px 50%;
}

.span-option {
    text-decoration: none;
    border: 0 solid #DDDDDD;
    margin: 0;
    padding: 3px 3px 3px 20px;
    color: #666;
}

/* breacrumb */
.breadCrumb {
    position: relative;
    margin: 15px 0;
}

    .breadCrumb img {
        padding: 0 0 2px;
    }

    .breadCrumb > span {
        color: #1f1a16;
        font: 13px/1.2em "Roboto Condensed",sans-serif,Myriad Pro,Arial;
    }

    .breadCrumb a {
        color: #1f1a16;
        font: 13px/1.2em "Roboto Condensed",sans-serif,Myriad Pro,Arial;
        text-decoration: none;
        padding: 0 .3em 0 0;
    }

        .breadCrumb a:hover {
            color: #873e3e;
        }

/* category  */
.category {
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 5px solid #e6e6e6;
}

    .category ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .category ul li {
            display: block;
            margin: 0 10px 0 0;
        }

            .category ul li:hover {
                background: #fff8f4;
            }

            .category ul li a {
                display: block;
                font-size: 16px;
                color: #555;
                border-bottom: 1px solid #eee;
                padding: 6px 0;
            }
/* supported  */
.supported {
    position: relative;
    background: #efefef;
    padding: 10px 15px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
/* ads dropdown  */
.ads-dropdown {
    position: relative;
    padding: .2em 0 0;
}

    .ads-dropdown .link-web {
        position: relative;
        border: solid 1px #cdcece;
        font-size: 11px;
        height: 21px;
        width: 130px;
    }
/* ads clients  */
.ads-clients {
    position: relative;
    background: #fff;
    padding: 1em 0 0;
    border-top: solid 1px #873e3e;
}

    .ads-clients h4 {
        padding: 0;
        margin: 0;
        height: 32px;
        font-size: 1em;
    }

        .ads-clients h4 a {
            color: #873e3e;
            text-transform: uppercase;
            line-height: 32px;
        }

            .ads-clients h4 a img {
                vertical-align: text-top;
            }

    .ads-clients ul {
        margin-bottom: 0;
    }

        .ads-clients ul li {
            margin-bottom: 0;
        }

    .ads-clients #back-cate {
        left: 3%;
        position: absolute;
        top: 55%;
        background: url(images/icon-back.png) no-repeat scroll 0 0;
        width: 20px;
        height: 35px;
        cursor: pointer;
    }

    .ads-clients #next-cate {
        position: absolute;
        right: 3%;
        top: 55%;
        background: url(images/icon-next.png) no-repeat scroll 0 0;
        width: 20px;
        height: 35px;
        cursor: pointer;
    }

/* ads block  */
.ads {
    position: relative;
    margin: 0 0 1.65em;
    padding: 0;
}

    .ads ul {
        margin: 0 0 15px;
        padding: 0;
        list-style: none;
    }

        .ads ul li {
            margin: 0;
            padding: 0 0 10px;
        }

    .ads .field-img {
        overflow: hidden;
        text-align: center;
    }

    .ads h4.field-name {
        overflow: hidden;
        font-size: 1.1em;
        font-weight: 600;
        display: block;
        margin: .1em 0 .5em;
    }

        .ads h4.field-name a {
            font-size: 1.1em;
            color: #1f1a17;
            font-weight: 600;
        }

    .ads .field-description {
        color: #3d4144;
        font-size: .8em;
        font-weight: 400;
        line-height: 18px;
        margin: 1em 0 1.2em;
    }

    .ads .field-continues {
        overflow: hidden;
        color: #873e3e;
        font-size: .9em;
        font-weight: 500;
        display: block;
        margin: .6em 0 0;
    }

/* ads list  */
.ads-list {
    position: relative;
    padding: 1em 0;
}

    .ads-list ul {
        margin-bottom: 0;
        list-style: none;
    }

        .ads-list ul li {
            margin-bottom: 1em;
        }

/* facebook social */
.facebook-social {
    position: relative;
}

/* map */
#map {
    position: relative;
    margin: 0;
}

    #map .query-map {
        position: relative;
    }

.query-map h3 {
    margin: 0 0 1em;
    padding: 0;
    color: #603813;
    font-size: 16px;
    font-weight: 500;
}

.query-map ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .query-map ul li {
        margin: 0 0 .5em;
        font-size: 13px;
    }

        .query-map ul li span {
            float: left;
            width: 100px;
            font-family: 'Roboto Condensed', sans-serif, Tahoma !important;
        }

        .query-map ul li .select-map {
            width: 300px;
            height: 28px;
            border: 1px solid #ddd;
            font-family: 'Roboto Condensed', sans-serif, Tahoma !important;
        }
/* form contact */

.list_contact {
    position: relative;
    margin: 15px 0 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ec7f1d;
}

    .list_contact li {
        margin-bottom: 3px;
    }

    .list_contact .fa {
        font-size: 11px;
    }

.col_contact {
    background: #eee;
    padding: 15px;
    border-radius: 0 0 9px 9px;
}

.frm-contact {
    position: relative;
    text-align: left;
    font-size: 1em;
    padding: 0;
}

    .frm-contact p {
        color: #6d6e72;
        font: normal 1em/1.2em 'Roboto Condensed', sans-serif, Myriad Pro, Arial;
        text-decoration: none;
        padding: 0 0 .5em;
    }

        .frm-contact p.showing_form {
            padding: 10px 0 0;
            margin: 0 0 15px;
            color: #333;
            font-size: 14px;
        }

    .frm-contact ul {
        text-align: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .frm-contact ul li {
            margin: 0 0 .3em;
        }

    .frm-contact .label {
        font: normal 13px/20px 'Roboto Condensed', sans-serif, Myriad Pro, Arial;
        background: none;
        text-align: left;
        padding: 0 0 .2em;
        text-transform: none;
        display: block;
        color: #474747;
    }

    .frm-contact input, .frm-contact area {
        font: normal 13px/20px 'Roboto Condensed', sans-serif, Myriad Pro, Arial;
        text-transform: none;
        color: #474747;
    }

    .frm-contact .input-large {
        width: 100%;
        height: 30px;
        border: solid 1px #ec7f1d;
        background: transparent;
    }

    .frm-contact .area-xlarge {
        height: 144px;
        border: solid 1px #ec7f1d;
        background: transparent;
        width: 100%;
    }

.bgr-button {
    color: #fff !important;
    background: #873e3e;
    float: left;
    font: bold 13px/24px 'Roboto Condensed', sans-serif, Myriad Pro, Arial;
    text-decoration: none;
    text-align: center;
    width: 75px;
    margin-right: .8em;
    padding: 0 12px;
    height: 24px;
    border: none !important;
}
/* toggle style */
.item-relative ul li div.toggle-item {
    background: none repeat scroll 0 0 #ec7f1d;
    cursor: pointer;
    margin: 0 0 0.2em;
    padding: 0.2em 0.8em 0;
}

.item-relative ul li h3 {
    color: #4b4b4b;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 400;
}

.item-relative ul li a.expand {
    color: #008dba;
    font-size: 0.9em;
    font-style: italic;
}

    .item-relative ul li a.expand img {
        padding-top: 3px;
    }

.toggle-content {
    display: none;
}
/* nav item style */
.pagenav {
    clear: both;
    position: relative;
    text-align: right;
    margin: 1.5em 0 0;
    padding: .5em 0;
    font-size: 14px;
    color: #727272;
}

    .pagenav img {
        vertical-align: bottom;
    }

    .pagenav a {
        color: #000;
        font: normal 13px/22px 'Roboto Condensed', sans-serif, Tahoma;
        padding: 4px 2px 4px;
    }

        .pagenav a:hover {
        }

    .pagenav a, .pagenav .number, .pagenav .page-numbers {
        text-decoration: none;
        text-align: center;
        float: none;
    }

    .pagenav b {
        color: #fff;
        background: #000;
        padding: .1em .5em;
        font: normal 12px/22px 'Roboto Condensed', sans-serif, Tahoma;
    }

    .pagenav span {
        padding: 0px 3px;
    }

.clr-padd {
    padding: 0 !important;
}

    .clr-padd a {
        padding: 0 !important;
        background: none !important;
        width: 22px !important;
    }



.ads-link {
    margin: 0;
    position: relative;
}

    .ads-link h5 {
        color: #007dba;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .ads-link ul {
        list-style: outside none none;
        margin: 0 0 0.65em;
    }

    .ads-link li {
        padding-bottom: 0.2em;
        text-decoration: none;
    }

        .ads-link li a {
            color: #4b4b4b;
            font-size: 13px;
            padding-bottom: 0.2em;
            text-decoration: none;
        }

.newsletter h5 {
    color: #007dba;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.newsletter h4 {
    padding: 0 0 0.5em;
    position: relative;
}

.tag-link {
    padding: 0;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    color: #555;
}

    .tag-link a {
        font-size: 13px;
        font-weight: 400;
        color: #555;
    }

#online {
    position: relative;
    margin: 10px 0 0;
}
/* clear & clearfix */
.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
    font-size: 0px;
    overflow: hidden;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {
    *zoom: 1;
}

/* products  */
.products {
    position: relative;
}

    .products .product_image {
        position: relative;
    }

    .products .post-title {
        font-size: 18px;
        text-transform: uppercase;
    }

.attribute {
    position: relative;
}

    .attribute h3 {
        margin: 15px 0 5px;
        font-size: 15px;
        font-weight: 400;
        color: #873e3e;
    }

        .attribute h3 a {
            color: #873e3e;
        }

    .attribute ul {
        margin: 0px 0 0 12px;
        padding: 0;
        color: #666;
    }

        .attribute ul li {
            padding: 0 0 .3em;
        }

    .attribute .brief {
        border-top: solid 1px #eee;
        border-bottom: solid 1px #eee;
        padding: 1em 0;
        margin: 1em 0;
    }

    .attribute .action-helper {
        text-align: center;
    }

.product_status {
    font-size: 10px;
    background: #873e3e;
    color: #111;
    padding: 5px 9px;
    line-height: 18px;
    height: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

h4.view_details {
    border-left: 3px solid #744F2D;
    margin: 40px 0px 20px;
    padding: 0px 0px 0px 5px;
    text-transform: uppercase;
}